.Weather .weather-app-data {
  display: flex;
  justify-content: space-between;
}

.Weather .weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.Weather .weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: #252f30;
  font-weight: 500;
}

.Weather .weather-app-details strong {
  color: white;
}

.Weather .weather-app-temperature-container {
  display: flex;
}

.Weather .weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.Weather .weather-app-icon {
  width: 88px;
  height: 88px;
}

.Weather .weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.Weather .weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.Weather .weather-forecast-date {
  text-align: center;
  color: #252f30;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.Weather .weather-forecast-icon {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
}

.Weather .weather-forecast-temperatures {
  text-align: center;
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.Weather .weather-forecast-temperature {
  padding: 0 10px;
}

.Weather #background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
